
#mainheading {
    font-weight: 800;
    font-size: 140px;
    text-align: center;}

h1 {
    font-weight: 800;
    font-size: 70px;
    text-align: center;}

h2 {
    font-weight: 800;
    font-size: 50px;
    text-align: center;}

img {
    display: block;
    margin: 0 auto;}

p {
        margin: 0 auto;
        width: 50%;
        font-size: 20px}

ol {
    display: table;
    margin: 0 auto;
    width: 50%;
    font-size: 20px}

ul {
    display: table;
    margin: 0 auto;
    width: 50%;
    font-size: 20px}

.recipelink {
    display: block;
    margin: 0 auto;
    width: 50%;
    font-size: 20px}

#mainlist {
    font-size: 40px;
    display: table;
    margin: 0 auto;}

