/* ------------------- */
/* Whole website styles*/
/* ------------------- */

* 
{font-family: 'Georgia', serif;}

body 
{background-color: #eee;}

.mainbody 
{background-color: white;
width: 1000px;
margin: 0 auto;}

/* ---------------- */
/* Front page styles*/
/* ---------------- */

.top_bar
{background-color: black;
color: white;
padding: 20px;}

.bar_container a:link 
{color: white;}

.bar_container a:visited
{color: white;}

.bar_container
{display: flex;
justify-content: space-between;}

#mainheading 
{font-weight: 800;
font-size: 140px;
text-align: center;}

.frontpage 
{padding-top: 10px;
width: 1500px;
padding-left:100px;
padding-right: 100px;}

img
{height: 600px;
width: 600px;}

.recipe_container
{display: flex;
justify-content: flex-start;
margin-bottom: 50px;}

.frontpage_text 
{padding: 5px 50px;
font-size: 30px;
align-items: center;}

.recipe_title
{display: flex;
margin-left: 50px;}

.recipe_link
{font-size: 30px;
padding-left: 50px;}

/* ----------------- */
/* Recipe page styles*/
/* ----------------- */

h1 
{font-weight: 800;
 font-size: 90px;
 text-align: center;}

h2 
{font-weight: 800;
font-size: 50px;
text-align: center;}

img 
{display: block;
margin: 0 auto;}

.recipe_img
{height: 500px;
width: 500px;}

.recipepage_description 
{margin: 0 auto;
padding: 25px 250px;
font-size: 20px}

ol 
{display: table;    
margin: 0 auto;
padding: 25px 250px;
font-size: 20px}

ul 
{display: table;
margin: 0 auto;
width: 50%;
font-size: 20px}

.recipelink 
{display: block;
margin: 0 auto;
padding: 25px 250px;
font-size: 20px}

button 
{font-size: 20px;
margin: 15px}
