/* ------------------- */
/* Whole website styles*/
/* ------------------- */

* 
{font-family: Verdana, sans-serif;
}

body 
{background-color: #eee;}

.mainbody 
{background-color: white;
width: 1000px;
margin: 0 auto;
display: flex;
flex-wrap: wrap;
flex-shrink: -1;}

/* ---------------- */
/* Testing new layout*/
/* ---------------- */

body,
.container
{min-height: 30vh;
background-color: #141414;
gap: 1em;
margin: 2em 5em;}

.container{
    
    display: flex;
    flex-direction: column;
}

header{
    flex: 1;
    background-color: #000000;
    border-radius: 2em;
    
}

section{
    
    flex: 4;
    border-radius: 2em;
    display: flex;
    gap: 1em;
}

.col-left{
    
    flex: 2;
    display: flex;
    align-items: center;
    background-color: #000000;
    border-radius: 2em;
    min-height: 20vh;
    

}
.col-right{
    flex: 1;
    
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000a0;
    border-radius: 2em;

}

@media (max-width: 968px){
    section,
    .container.second section{
        flex-direction: column;
    }
    .container{
        margin: 1em 2em;
    }
}

h1 {color: white;}
h2 {font-size: 40px; margin: 0; color: white;}
p, ul {font-size: 20px; color: white;}
a, a:link, a:visited {font-size: 20px; color: white;}

.recipe_text {flex: 2; flex-direction: start; margin: 70px;}
.recipe_img {flex: 1; text-align: center; margin-left: 70px;}
.key_ingredients {}

img{max-width: 300px; border-radius: 2em}

 

/* ---------------- */
/* FTesting new layout*/
/* ---------------- */


/* ---------------- */
/* Front page styles*/
/* ---------------- */

.top_bar
{background-color: black;
color: white;
padding: 20px;}

.bar_container a:link 
{color: white;}

.bar_container a:visited
{color: white;}

.bar_container
{display: flex;
justify-content: space-between;}

#mainheading 
{font-weight: 800;
font-size: 140px;
text-align: center;}

.frontpage 
{padding-top: 10px;
width: 1500px;
padding-left:100px;
padding-right: 100px;}









/* ----------------- */
/* Recipe page styles*/
/* ----------------- */

h1 
{font-weight: 800;
 font-size: 90px;
 text-align: center;}








